@{
    ViewBag.Title = "MapFinder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Mapfinder.js"></script>
<div align="center">
<p id="demo" >Click the button to get your position:</p>
<button onclick="getLocation()">Try It</button>
</div>
<div id="mapholder"></div>
