@{
    ViewBag.Title = "Railway";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.Partial("Categorybox")
    <asp:image id="Image1" runat="server" height="234px" imageurl="~/images/burdwan1.jpg"
        width="340px" />
</div>
<div>
    <div style="text-align: right">
    </div>
</div>
