@{
    ViewBag.Title = "Java";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h2>Java</h2>
<table>
    <thead>
                <tr>
                    <th>Projects</th><th>Views</th><th></th>
                </tr>
            </thead>
    <tbody>

    </tbody>
    <tfoot>

    </tfoot>

</table>