@{
    ViewBag.Title = "OpeningPage";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    <link href="~/CSS/Html5.css" rel="stylesheet" />
}
<section id ="prehomeid">
    <img src="~/Images/homewall.jpg" alt="IndiaLance" height="450" width="970">
    <h2>We create Entrepreneurs</h2>
    <article>
    <aside id="continueid">@Html.ActionLink("Continue to Dashboard","Home","Home",null,new { @class = "continueclass" }))
    @Html.ActionLink("Post a new project","NewPostPage","NewPost",null,new { @class = "continueclass" }))</aside>
        </article>
</section>
