@{
    ViewBag.Title = "LiveChat";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    <script src="~/Scripts/jquery-1.6.4.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.1.1.min.js"></script>
    <script src="~/signalr/hubs" type="text/javascript"></script>
    <script src="~/Scripts/blog.js"></script>
}

<h2>LiveChat</h2>
<section class="fl">
    <aside id="divLogin" class="panelHeader">
        User Name:<input id="txtUserName" type="text" /><br />
        Password :<input id="txtPassword" type="password" /><br />
        <input id="btnLogin" type="button" value="Login" />
        <div id="divalarm"></div>
    </aside>

    <aside id="divChat" class="mylogin">
        <div id="welcome"></div>
        <div id="onlineusers"></div>
        <br />
        <article style="width: 400px; max-height:200px; overflow:auto;padding:5px; background: #FFFFFF; padding: 10px; border: 1px solid #000000">
            <div id="divMessage"></div>
            <input style="width: 335px;" id="txtMessage" type="text" />
            <input id="btnSendMessage" type="button" value="Send" />
        </article>
    </aside>
</section>
<input id="hUserId" type="hidden" />
<input id="hId" type="hidden" />
<input id="hUserName" type="hidden" />
<input id="hGroup" type="hidden" />

<style type="text/css">
    .panelHeader
    {
        color:#15428b;
        font-weight:bold; 
        font-size: 11px;
        font-family: tahoma,arial,verdana,sans-serif;
        border-color:#99bbe8;
        background-image: url(Images/white-top-bottom.gif);
        line-height:26px;
        padding-left:10px;
    }
</style>
