@{
    ViewBag.Title = "Categorybox";
}
<link href="../style.css" rel="stylesheet" type="text/css" />
<div class="sidebar">
    <div class="gadget">
        <h2>
            Travelling ways</h2>
        <ul class="sb_menu">
            <li class="active"><a href="#">Locate</a></li>
            <li><a href="#">Train</a></li>
            <li><a href="#">Bus</a></li>
            <li><a href="#">Auto rikshaw</a></li>
            <li><a href="#">Map Search</a></li>
            <li><a href="#">Time Calculater</a></li>
        </ul>
    </div>
</div>