@{
    ViewBag.Title = "Usersearch";
}
<div id="mainwidget">
    <div>
        From:
        <input type="text" id="text1" value="" name="tags" class="textbox12" />
        Destination:
        <input type="text" id="TextBox2" name="TextBox2" class="textbox12" />
        <input type="submit" id="button1" class="" value="Search" onclick="click();" />
        <div>
            <div id="accordion" style="display:none">
                    Train results:
                <div>
                    <p>
                        dummy values here
                    </p>
                </div>
                    Bus results:
                <div>
                    <p>
                        dummy values here
                    </p>
                </div>
                    Others:
                <div>
                    <p>
                        dummy values here
                    </p>
                    <ul>
                        <li>List item one</li>
                        <li>List item two</li>
                        <li>List item three</li>
                    </ul>
                </div>
                    Map your location:
                <div>
                    <p>
                        dummy values here
                    </p>
                    <p>
                        dummy values here
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
