@{
    ViewBag.Title = "ChatHome";
}
<script src="~/Scripts/chat.js"></script>
<h2>Welcome @ViewBag.name</h2>
<div id="dvChatWindow">

</div><br />
<input type="text" id="text1"/>
<input type="button" id="button1" onclick="onsubmitclick();" />

